{:deps {aero/aero {:mvn/version "1.1.6"}
        buddy/buddy-sign {:mvn/version "3.5.346"}
        medley/medley {:mvn/version "1.4.0"}}
 
 :aliases
 {:dev
  {:extra-paths ["env/dev" "dev-resources"]}

  :test
  {:extra-deps {babashka/fs {:mvn/version "0.5.21"}
                com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :extra-paths ["test" "dev-resources"]
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}
  
  :junit
  {:exec-fn monkey.test/junit}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.aero.*"]}}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/aero-ext.jar"
               :lib "com.monkeyprojects/aero-ext"
               :version-env "LIB_VERSION"
               :scm {:url "https://github.com/monkey-projects/aero-ext"}}}

  :install
  {:exec-fn monkey.build/jar+install}

  :publish
  {:exec-fn monkey.build/jar+deploy}}}
